<!DOCTYPE html>

<html>
	<head>
		<title>My Goals</title>
		<!-- Import CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="css/main.css">

		<style>
			.block-ltg {
				/*border: 2px solid #3E116D;*/
				border-radius: 15px;
				font-size: 1.8em;
				padding: 10px;
				margin-top: 20px;
				margin-bottom: 20px;
				text-align:center;
				background-color:white;
			}
			.block-ltg h1 {
				display:inline;
				font-size:1.2em;
			}
			.block-ltg:hover {
				background-color: #3E116D;
				color: white;
			}
			.ltg-complete-true {
				background-color:#70E5A0;
			}
			.ltg-complete-true:hover {
				background-color: #70E5A0;
			}
			.wg-complete-true {
				color:green;
			}
			.goals-delete, .goals-complete {
				display:inline;
				float:right;
			}
			.goals-delete button {
				background-color: #CC5552;
				border:none;
				margin-left:5px;
			}
			.goals-complete button {
				background-color: #70E5A0;
				border:none;
			}
			.div-goal-add-b {
				border: 2px solid #3E116D;
				color: #f8f8f8;
				background-color:#3E116D;
			}
			.div-goal-add-b:hover {
				background-color:#f8f8f8;
				color: #3E116D;
				/*color: black;*/
			}
			.input-goal-add, .input-goal-add:hover {
				background-color: white;
				color: #3E116D;
			}
			.input-goal-add {
				font-size: 20px;
				font-weight: bold;
				width:100%;
			}
			.button-add-wgs {
				display:inline;
				margin-top:10px;
				margin-left:auto !important;
				margin-right:auto !important;
				border:none;
			}
			#header {
				text-align: center;
				background-color:#43f2b6;
				top:0;
				width:100%;
				-webkit-box-shadow: 0px 0px 4px 0px #000000;
				-moz-box-shadow: 0px 0px 4px 0px #000000;
				box-shadow: 0px 0px 4px 0px #000000;
				color:white;
				z-index:3333;
				position:fixed;
				left:0px;
			}
			#header * {
				margin-right: 10px;
			}
			#header table {
				width: 100%;
			}
			#header #cell-header {
				width: 80%;
				font-size: 50%;
				color: white;
			}
			#header img {
				width: 20px;
			}
			#header p {
				margin-top: 2px;
				color: black;
			}

			.glyphicon-collapse-down {
				float: left;
				font-size: 40px;
			}
		</style>
		{{> tracking_code_script}}
	</head>

	<body>
		<div class="container-body-page">
			<div class="header-page">
				<table>
					<tr>
						<td class="cell-header"><h1>Goals</h1></td>
						<td><a href="/" class="glyphicon glyphicon-log-out"></a></td>
						<td><a href="/settings" class="glyphicon glyphicon-cog"></a></td>
					</tr>
				</table>
			</div>

			<div class="container-content-main">
				<div id="goaldiv">
				{{#each ltg}}
				<div class="ltg-wgs">
					<div class="block-ltg ltg-complete-{{isComplete}}" data-toggle="collapse" data-target="#{{id}}">
						<p class="glyphicon glyphicon-collapse-down"></p>
						<!-- Timeout shorter to reload before div collapse -->
						

						<form class="goals-delete" method='post' action='/goals'>
							<input type="hidden" name="deleteLTG" value="true">
							<button name="id" value="{{id}}" onclick="return confirm('Do you want to delete this goal?')">X</button>
						</form>
						<!--<form class="goals-complete" method='post' action='/goals' onsubmit='setTimeout(function () { window.location.reload(); }, 30)'>-->
						<form class="goals-complete" method='post' action='/goals'>						
							<input type="hidden" name="completeLTG" value="true">
							<input type="hidden" name="name" value="You">
							<input type="hidden" name="goal" value="{{goal}}">
							<button name="id" value="{{id}}" onclick="return confirm('Did you complete this goal?')">Complete</button>
						</form>
						<h1>{{goal}}</h1>

					</div>
					<div class="block-wg collapse" id="{{id}}">
						{{#each wgs}}
			
						<!--<form class="goals-delete"  method='post' action='/goals' onsubmit='setTimeout(function () { window.location.reload(); }, 1000)'>-->
						<form class="goals-delete"  method='post' action='/goals'>						
							<input type="hidden" name="deleteWG" value="true">
							<input type="hidden" name="id" value="{{id}}">
							<button name="wid" value="{{wid}}" onclick="return confirm('Do you want to delete this goal?')">X</button>
						</form>
						<!--form class="goals-complete"  method='post' action='/goals' onsubmit='setTimeout(function () { window.location.reload(); }, 1000)'>-->
						<form class="goals-complete"  method='post' action='/goals'>						
							<input type="hidden" name="completeWG" value="true">
							<input type="hidden" name="name" value="You">
							<input type="hidden" name="description" value="{{description}}">
							<input type="hidden" name="id" value="{{id}}">
							<button name="wid" value="{{wid}}" onclick="return confirm('Did you complete this goal?')">Complete</button>  

						</form>
						<h3 class="wg-complete-{{isComplete}}">{{description}}</h3>
						{{/each}}
						<button class="button-add-wgs" id="{{id}}">+ Add Weekly Goal +</button>
					</div>
				</div>
				{{/each}}
				

				<div class="block-ltg div-goal-add-b">
					<h1 type = "button" class="ltg-version-a">+ Add Long Term Goal +</h1>
				</div>
				</div>
			</div>

			<div class="navbar">
				<table id="navbar">
					<tr>
						<td><a href="/accomplishments"><button id="accomplishments-page" type="button" ><div id="accomplishmentsicon"><img src="images/icons2/accomplishments2g.png"></div></button></a></td>
						<td><a href="/respects"><button id="respects-page" type="button"><div id="respectsicon"><img src="images/icons2/respectg.png"></div></button></a></td>
						<td><a href="/goals"><button id="goalList-page" style="background-color:#FFD95F; border-top: 1px solid #FFD95F; border-left: 1px solid #FFD95F"><div id="goalsicon"><img src="images/icons2/goalsp.png"></div></button></a></td>
					</tr>
				</table>
			</div>
		</div>

		<script src="js\jquery-1.11.0.js"></script>
		<script src="js\bootstrap.js"></script>
		<script src="js\goals.js"></script>

		<script type="text/javascript">
			var numLTGs = $(".block-ltg").length - 1;
			// console.log(numLTGs);
		</script>
		<script>
		$(".goals-complete").click(confirmation);
		function confirmation ()
		{
			// <h3 class="wg-complete-{{isComplete}}">{{description}} [Complete]</h3>
			
		}
		</script>

		<script>
			$(".div-goal-add-b").click(toggleAddLTG);


			function toggleAddLTG() {
				// Change to Input (NO NEWLINES ALLOWED [will throw syntax error!])
				
				var elementInput = "<form id='form-ltg' method='post' action='/goals' ><input type='hidden' name='id' value=" + (numLTGs++) + "><input class='block-ltg input-goal-add' name='ltg' type='text' maxlength='80' placeholder='Eg. Get three As in CSE classes by Spring 2016'><input type='submit'><br><input class='cancel-LTG' type='button' value='Cancel'></form>"
				$(this).replaceWith(elementInput);
				$(".cancel-LTG").click(cancelInputLTG);
			}

			function cancelInputLTG() {
				// Change to + Add Goal +
				$('#form-ltg').replaceWith("<div class='block-ltg div-goal-add-b'> <h1>+ Add Long Term Goal +</h1> </div>");
				// Re-attach click listener;
				$(".div-goal-add-b").click(toggleAddLTG);
			}
		</script>
		<script>
			$(".button-add-wgs").click(toggleAddWGS);

			function toggleAddWGS() {
				console.log(this.id);
				// Change to Input (NO NEWLINES ALLOWED [will throw syntax error!])
				var elementInput = "<form id='form-wg' method='post' action='/goals' ><input class='input-goal-add' name='wg' type='text' maxlength='80' placeholder='Eg. Study Lecture Notes for 10 hours by the end of Week 9'><input  name=id type='hidden' maxlength='50' value=" + this.id + "><input type='submit'><br><input class='cancel-WG' type='button' value='Cancel'></form>";
				$(this).replaceWith(elementInput);
				$(".cancel-WG").click(cancelInputWG);
			}

			function cancelInputWG() {
				// Change to + Add Goal +
				$('#form-wg').replaceWith("<button class='button-add-wgs' id=" + this.id + ">+ Add Weekly Goal +</button>");
				// Re-attach click listener;
				$(".button-add-wgs").click(toggleAddWGS);
			}
		</script>
	</body>
</html>